@tailwind base;
@tailwind components;
@tailwind utilities;

.container-center .line {
  position: fixed;
  background-color: #c3ddfd;
  z-index: 30;
}
.line.top {
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
}
.line.bottom {
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 30px;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}
